body {
  background-color: rgb(203, 203, 243);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #ffffff;
  /* background-color: #000000; */
}
.icon {
  font-size: 1rem;
  /* color: #ffffff; */
}
